<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Nuevo usuario</h3>
<form action="">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" placeholder="Ingrese un nombre" id="nombre">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" placeholder="Ingrese una contraseña" id="password">
  </div>


  <div>
    <label for="email">Email</label>
    <input type="email" placeholder="Ingrese un email" id="email">
  </div>

  <div>
    <label for="telefono">Telefono</label>
    <input type="text" placeholder="Ingrese un telefono" id="telefono">
</div>
<button type="submit">Guardar</button>
  <a href="/">Cancelar</a>
</form>

</body>
</html>